.beyou-logo {
  width: 55px;
}

.handbag-logo {
  width: 18px;
}

.content-menu {
  max-width: 1680px;
}

.first-menu {
  visibility: hidden;
}

.comprar-link {
  color: #000000;
  font-family: Karla, sans-serif;
  text-decoration: none;
}

.comprar-link:hover {
  color: #000000;
  font-family: Karla, sans-serif;
  text-decoration: none;
}

.main-banner {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.29);
  max-width: 1680px;
}

.bg-yellow {
  background-color: #f4c446;
}

.bg-purple {
  background-color: #4f397d;
}

.banner-title {
  color: #000000;
  font-family: Karla, sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.1;
  text-align: center;
}

.banner-subtitle {
  color: #000000;
  font-family: Karla, sans-serif;
  font-size: 18px;
  text-align: center;
}

.btn-buy {
  background-color: #2aa69c;
  border-radius: 5px;
  box-shadow: -2px -2px 4px 0 #fff, 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.1;
  min-width: 200px;
  padding: 12px 18px;
}

.btn-buy:hover {
  background-color: #2aa69c;
  color: #ffffff;
}

.btn-play {
  border-radius: 5px;
  box-shadow: -2px -2px 4px 0 #fff, 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: #4f397d;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.1;
  min-width: 200px;
  padding: 12px 18px;
}

.btn-play:hover {
  background-color: #ffffff;
  color: #4f397d;
}

.modal-header {
  padding: 0.5rem 1rem;
}

.modal-dialog-centered {
  min-height: calc(80% - 3.5rem);
}

.first-title {
  color: #5e5967;
  font-family: Karla, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 6px;
  text-align: center;
}

.girls-border {
  border-bottom: 1px solid #29a69c;
  box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.15);
  width: 990px;
}

.girls-image {
  max-width: 620px;
}

.feature-table {
  max-width: 900px;
}

.header-table {
  color: #000;
  font-family: Karla, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 3px;
  text-align: center;
}

.title-table {
  color: #000;
  font-family: Karla, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 5px;
  text-align: left;
}

.table .fa-check-circle {
  color: #2aa69c;
  font-size: 42px;
}

.table .fa-times-circle {
  color: #cacee2;
  font-size: 42px;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

.non-border-top {
  border-top: 0;
}

.non-border {
  border: 0;
}

.border-left-hidden {
  border-left: hidden;
}

.border-right-hidden {
  border-right: hidden;
}

.subtitle-table {
  color: #4f397d;
  font-family: Karla, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 20px;
  margin: 45px auto 110px;
  max-width: 680px;
  text-align: center;
}

.patch-info {
  background-color: #f6f5fa;
  padding: 75px 0 145px;
}

.patch-container {
  max-width: 1030px;
}

.patch-card {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #e2dfef;
  padding: 90px;
}

.patch-shadow-purple {
  background-color: #ffffff;
  border: 1px solid #e2dfef;
  box-shadow: 0 2px 4px 0 #4f397d;
}
.patch-shadow-green {
  background-color: #c5e9e6;
  border: 1px solid #29a69c;
  box-shadow: 0 2px 4px 0 #29a69c;
}

.patch-title {
  align-items: center;
  color: #4f397d;
  display: flex;
  flex-direction: row;
  font-family: Karla, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 6px;
}

.patch-title-purple {
  color: #4f397d;
}

.patch-title-green {
  color: #2aa69c;
}

.patch-text {
  color: #000;
  font-family: Karla, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.patch-num-outer {
  border-radius: 50%;
  color: #fff;
  height: 40px;
  min-width: 40px;
  position: relative;
  width: 40px;
}

.patch-num-purple {
  background-color: #4f397d;
}

.patch-num-green {
  background-color: #2aa69c;
}

.patch-num-inner {
  box-sizing: border-box;
  font-family: Karla, sans-serif;
  font-size: 22px;
  left: 14px;
  position: absolute;
  top: 8px;
}

.monthly-patches {
  color: #4f397d;
  font-family: Karla, sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
  margin: 50px 0 0;
  text-align: center;
}

.swiper-slide {
  border-radius: 10px;
  border: 2px solid #e2dfef;
}

.swiper-slide img {
  border-radius: 10px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -5px !important;
}

.green-border {
  border-top: 2px solid #48b2aa;
}

footer {
  background-color: #4f397d;
  text-align: center;
}

.contact-title {
  color: #ffffff;
  font-family: Karla, sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.1;
}

.text-footer {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.1;
  font-family: Karla, sans-serif;
}

.copyright {
  color: #ffffff;
  font-family: Karla, sans-serif;
  font-size: 14px;
}

.legal {
  color: #ffffff;
  font-size: 14px;
}

.order-product {
  font-family: Karla, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.product-image {
  max-width: 300px;
}

.name-product {
  font-family: Karla, sans-serif;
  font-size: 18px;
}

.price-product {
  font-family: Karla, sans-serif;
  font-weight: 700;
}

.precio {
  color: #ffffff;
  font-family: Karla, sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.btn-enviar {
  background-color: #2aa69c;
  color: #ffffff;
  font-family: Karla, sans-serif;
  padding: 12px 0;
}

@media (max-width: 575.98px) {
  .first-title {
    font-size: 18px;
    line-height: 23px;
  }

  .header-table {
    font-size: 11px;
    line-height: 11px;
  }

  .title-table {
    font-size: 12px;
    line-height: 12px;
  }

  .table .fa-check-circle {
    font-size: 20px;
  }

  .table .fa-times-circle {
    font-size: 20px;
  }

  .subtitle-table {
    font-size: 13px;
    line-height: 20px;
    margin: 0 auto 30px;
    width: 90%;
  }

  .patch-info {
    padding: 40px 0 50px;
  }

  .patch-card {
    padding: 26px 10px 22px;
  }

  .patch-title {
    font-size: 17px;
    line-height: 24px;
  }

  .patch-text {
    font-size: 13px;
    line-height: 20px;
  }

  .patch-num-outer {
    height: 21px;
    width: 21px;
    min-width: 21px;
  }

  .patch-num-inner {
    font-size: 15px;
    font-weight: 700;
    left: 6px;
    top: -1px;
  }
  .monthly-patches {
    font-size: 24px;
    line-height: 24px;
    margin-top: 30px;
  }

  .main-banner {
    box-shadow: none;
  }

  .bg-yellow {
    background-color: #ffffff;
  }

  .banner-title {
    font-size: 22px;
  }

  .banner-subtitle {
    font-size: 14px;
  }

  .btn-buy {
    font-size: 14px;
    line-height: 24px;
    min-width: 160px;
    padding: 10px 0 10px;
  }

  .btn-buy:hover {
    background-color: #2aa69c;
    color: #ffffff;
  }

  .btn-play {
    font-size: 14px;
    line-height: 24px;
    min-width: 160px;
    padding: 10px 0 10px;
  }

  .contact-title {
    font-size: 22px;
  }

  footer {
    font-size: 14px;
  }

  .precio {
    font-size: 18px;
  }
}
